<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <jbrada>
            <well-know-change-password>
                <path>customer/account/edit/changepass/1</path>
            </well-know-change-password>
        </jbrada>
    </default>
</config>
